* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1336px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}


.navigations {
    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: space-between;
}

.burger_menu{
    display: none;
}

nav {
    gap: 40px;
    display: flex;
    align-items: center;
    a{
        color: #282828;
    }
}



.icons {
    display: flex;
    align-items: center;
    gap: 20px;
}


.foto_svg {
    display: flex;
    gap: 82px;
    align-items: center;
    margin-top: 30px;
    img{
       width: 100%;
    }
}

.foto_svg_text {
    width: 488px;
}

.foto_svg_text>h4 {
    font-size: 16px;
    color: #282828;
}

.foto_svg_text>h1 {
    font-size: 54px;
    color: #282828;
    width: 408px;
    margin: 8px 0px;
}

.foto_svg_text>p {
    font-size: 18px;
    color: #282828;

    width: 408px;
    margin: 8px 0px;
}

.foto_svg_text>h6 {
    font-size: 18px;
    color: #282828;
    margin-top: 28px;
}


.logos {
    display: flex;
    align-items: center;
    gap: 48px;

}

.global_logo {
    overflow: scroll;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 26px 0px;
    margin-top: 52px;

}

.global_logo::-webkit-scrollbar {
    display: none;
}




.box1 {
    height: 400px;
    width: 400px;
    background-color: red;
    padding: 50px;
}

.box2 {
    height: 200px;
    width: 200px;
    background-color: rgb(19, 126, 28);
}

.box {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.box3 {
    background-color: red;
}

.box4 {
    height: 600px;
}

.box5 {
    background-color: blue;
}


.card {
    background-color: rgb(207, 226, 226);
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 16px;

    width: 390px;
    
    border-radius: 16px;
    gap: 16px;
   

}

.cards{
    display: flex;
    gap: 32px;
    margin-top: 32px;
}
.card_texts{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 8px;
}
.card_h1>h1{
    color: #112211;
    font-size: 16px;

}
.global_text{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 12px;
    border-color: 1px solid #9D9FA1;
    margin-top: 50px;
    padding: 87px 390px;
}

.text{
    text-align: center;
}

.bg_text{
    background-image: url(./assets/svg/foto_bg.svg);
    height: 494px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.text2{
    width: 458px;
    text-align: center;
    h1{
        width: 318px;
        font-size: 42px; 
        color: #FFFFFF;
        text-align: center;
    }
    p{
        font-size: 18px;
        width: 450px;
        color: #FFFFFF;
    }
}


@media(max-width:1200px){
.container{
    width: 95%;
}
}

@media(max-width:700px){
    nav{
        display: none;
    }
    
  
}
@media(max-width:380px){
    .burger_menu{
        display: flex;
        align-items: center;
        gap: 16px;
    }
    .icons{
        display: none;
    }
    .foto_svg{
        display: block;
    }
    .foto_svg_text{
        h4{
            font-size: 14px;
        }
        h1{
            width: 343px;
            font-size: 28px;
        }
        p{
            width: 343px;
            font-size: 16px;
        }
        h6{
            font-size: 16px;
        }
    }
    
}




